@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* ROOT */

:root {
  --red: #dd4c4a;
  --black: #4f4f4f;
  --yellow: #f2c94c;
  --gray: #f2f2f2;
  --salmon: #d89595;
  /*  */
  --serviceShadowBtn: #fb707073;
  --serviceBtnRed1: #eb7598;
  --serviceBtnRed2: #ff926f;
  --serviceBtnGradient: linear-gradient(
    90deg,
    var(--serviceBtnRed1) 0%,
    var(--serviceBtnRed2) 100%
  );
}

/* Reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Noto Sans", sans-serif;
  line-height: 1;
}

.titles-group h2 {
  color: var(--black);
  font-size: 34px;
  font-weight: 400;
  text-transform: lowercase;
}

.titles-group h1 {
  color: var(--red);
  font-size: calc(6vw - 0.5pt);
  font-weight: 800;
  text-transform: capitalize;
  margin-bottom: calc(1rem / 2);
}

.link {
  color: var(--red);
  font-weight: 600;
  cursor: pointer;
  user-select: none;
  text-transform: capitalize;
  text-align: center;
  border-radius: 50px;
  width: 100%;
  padding: 1rem;
  max-width: 180px;
  text-decoration: none;
  transition: 300ms ease;
}

.link:hover,
.link:focus,
.link:focus-within,
.link:active,
.link.active-link {
  background-color: var(--yellow);
  color: var(--black);
}

/* App */

main.main-container {
  background-color: #fff;
  width: 100%;
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

/*
Header
*/
header.top-header {
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
  overflow: hidden;
  max-height: 100vh;
}

.header-background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.intro-section {
  position: absolute;
  z-index: 1;
  inset: 0;
  width: 100%;
  display: grid;
  grid-template-rows: 400px 1fr;
  justify-content: center;
}

.intro-section .logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.intro-section .logo-container > img {
  object-fit: cover;
  width: 100%;
  max-width: max-content;
  overflow: hidden;
}

.intro-roundRock {
  width: 100%;
  height: 100%;
  max-width: 400px;
  margin: auto;
  text-align: left;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

.intro-roundRock h2 {
  color: var(--black);
  font-size: 34px;
  font-weight: 400;
  text-transform: lowercase;
}

.intro-roundRock h1 {
  color: var(--red);
  font-size: calc(6vw - 0.5pt);
  font-weight: 800;
  text-transform: capitalize;
  margin-bottom: calc(1rem / 2);
}

.intro-roundRock p {
  margin-top: 1rem;
  color: var(--black);
  font-weight: 450;
  line-height: 1.45;
  font-size: 14px;
  width: 100%;
}

.intro-actions-container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  gap: 2px;
  align-items: center;
  justify-content: flex-start;
  margin-top: 2rem;
}

.intro-actions-container a {
  color: var(--red);
  font-weight: 600;
  cursor: pointer;
  user-select: none;
  text-transform: capitalize;
  text-align: center;
  border-radius: 50px;
  width: 100%;
  padding: 1rem;
  max-width: 160px;
  text-decoration: none;
  transition: 300ms ease;
}

.intro-actions-container a:hover,
.intro-actions-container a:focus,
.intro-actions-container a:focus-within,
.intro-actions-container a:active,
.intro-actions-container a.active-link {
  background-color: var(--yellow);
  color: var(--black);
}

/* Servicoes Eletricos */

.services-container {
  display: flex;
  flex-flow: column wrap;
  gap: 2px;
  margin-top: 3rem;
}

.services-container hgroup {
  width: 100%;
  text-align: left;
}

.services-container hgroup h2 {
  font-size: 30px;
  color: var(--black);
  font-weight: 400;
  margin-bottom: 5px;
}

.services-container hgroup h1 {
  font-size: calc(6vw - 0.5pt);
  color: var(--red);
}

.services-content-container {
  margin-top: 4rem;
  border-top-left-radius: 16%;
  border-top-right-radius: 16%;
  background-color: var(--gray);
  padding: 1rem;
  padding-top: 3rem;
}

.services-content {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 3rem;
  justify-content: center;
}

.services-content article {
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;
}

.services-content .srv-card {
  width: 100%;
  max-width: 320px;
  display: flex;
  flex-flow: column nowrap;
  filter: drop-shadow(0px 0px 16px #00000030);
}

.services-content .srv-card .srv-card-content {
  background-color: #fff;
  overflow: hidden;
  aspect-ratio: 4/4;
  border-radius: 30px;
}

.services-content .srv-card .srv-ttl {
  display: flex;
  font-size: 20px;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  color: var(--black);
  font-weight: 600;
  padding: 8px;
  min-height: 60px;
}

.services-content .srv-card .srv-link {
  background-color: var(--serviceBtnRed1);
  background: var(--serviceBtnGradient);
  width: 100%;
  max-width: 180px;
  margin: auto;
  transform: translateY(-25px);
  filter: drop-shadow(0px 0px 8px var(--serviceShadowBtn));
  padding: 1rem;
  border-radius: 50px;
  text-decoration: none;
  color: #fff;
  text-align: center;
  transition: 300ms ease;
}

.services-content .srv-card .srv-link:hover {
  filter: drop-shadow(0px 0px 10px var(--yellow));
  transform: scale(1.1) translateY(-25px);
}

/* About us */

.aboutus-container {
  width: 100%;
  padding-top: 3rem;
  background-color: var(--gray);
  padding-bottom: 3rem;
  border-bottom-right-radius: 16%;
  border-bottom-left-radius: 16%;
}

.aboutus-content {
  width: 100%;
  max-width: 1090px;
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  /* align-items: center; */
}

.aboutus-content ol {
  list-style-position: inside;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2.5rem;
  justify-content: center;
  list-style: none;
  counter-reset: about-us-counter;
}

.aboutus-content ol li {
  width: 100%;
  max-width: 330px;
  text-align: left;
  font-family: "Poppins", sans-serif;
  color: var(--black);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  counter-increment: about-us-counter;
}

.aboutus-content ol li::before {
  content: counter(about-us-counter);
  color: var(--salmon);
  width: 20px;
  font-size: 14pt;
  text-align: center;
  margin-bottom: 4px;
  font-weight: 600;
  aspect-ratio: 1;
  display: block;
  padding: 5px;
  border: 2px solid var(--salmon);
  border-radius: 50%;
}

.aboutus-action {
  display: flex;
  align-items: center;
  margin-top: 3rem;
}

/* Gallery */

.gallery-container {
  width: 100%;
  margin-top: 4rem;
}

.gallery-content {
  margin-top: 4rem;
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
}

.gallery-content article {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

.gallery-content .photo-container {
  width: 100%;
  max-width: 282px;
  overflow: hiden;
  border-radius: 10px;
  cursor: pointer;
}

/* Contact Us */

.contact-container {
  margin-top: 4rem;
  padding-bottom: 2rem;
}

.contact-form-container {
  background-color: var(--red);
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  height: 100%;
  min-height: 580px;
}

.contact-form-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  padding-top: 5rem;
}

.contact-form-content .contact-form {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  width: 100%;
  max-width: 374px;
}

.contact-form-content .contact-form fieldset {
  border: none;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  gap: 10px;
}

.contact-form-content .contact-form fieldset input {
  background-color: #fff;
  color: var(--black);
  border-radius: 20px;
  padding: 1rem;
  width: 100%;
  outline: none;
  border: none;
}

.contact-form-content .contact-form fieldset button {
  width: 100%;
  margin: auto;
  max-width: 200px;
  border: 2px solid #fff;
  border-radius: 20px;
  padding: 1rem;
  font-size: 15px;
  color: var(--salmon);
  background-color: transparent;
  transition: 300ms ease;
  text-transform: uppercase;
  font-weight: 600;
}

.contact-form-info {
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
}

.contact-form-info .ct-info {
  display: flex;
  flex-flow: row wrap;
  font-size: 16px;
  gap: 3px;
  color: #fff;
}
